@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

<div class="text-center">
    <h1 class="display-4">Welcome @Accessor.HttpContext.Session.GetString("userName")</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
